<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="APIHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="APIHub.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <APIHub.Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="FutureVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Filter" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateQueued" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Activated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="MachineID" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
        </APIHub.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <APIHub.Properties.Settings>
            <setting name="LowRPM" serializeAs="String">
                <value>https://cdagaming.github.io/Keys/LowRPM/LowRPM.html</value>
            </setting>
            <setting name="MediumRPM" serializeAs="String">
                <value>https://cdagaming.github.io/Keys/MediumRPM/MediumRPM.html</value>
            </setting>
            <setting name="HighRPM" serializeAs="String">
                <value>https://cdagaming.github.io/Keys/HighRPM/HighRPM.html</value>
            </setting>
            <setting name="DefaultTheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Scheme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="DefaultFilter" serializeAs="String">
                <value>HighRPM</value>
            </setting>
        </APIHub.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.10.0.0" newVersion="0.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>